@import '~prosearch-stylesheets/Colors';
@import '~prosearch-stylesheets/Fonts';
@import '~prosearch-stylesheets/Flex';

.project-container.MuiAccordion-root.MuiAccordion-rounded {
  @include flex(column, nowrap);

  background-color: $gray3;
  border-radius: 20px;
  box-shadow: 0 0.3em 1em $blue2;
  color: $black;
  text-align: start;
  padding: 2em 2em 1em 2em;

  // Need this to get rid of an unexpected line at the top of the accordion container
  &::before {
    content: none;
  }

  .project-summary {
    .project-header {
      @include flex(row, wrap);

      justify-content: space-between;
      margin-bottom: 2em;
      font-size: 1.2em; // TODO: move to a fonts stylesheet

      .project-title {
        @include bold-font;

        width: 90%;
      }

      .project-year {
        color: $gray1;
      }
    }

    .MuiAccordionSummary-content {
      @include flex(column, nowrap);
    }
  }

  .project-expanded-container {
    @include flex(column, nowrap);
  }

  .project-expand-control {
    color: $purple1;
    cursor: pointer;

    &.project-expand-control-more {
      align-self: flex-end;
    }

    &.project-expand-control-less {
      align-self: flex-end;
    }
  }

  .label-value-pair {
    .label-value-pair-label {
      @include bold-font;

      color: $gray1;
      margin-bottom: 0.5em;
    }
  }

  .label-value-pair:not(:last-child) {
    margin-bottom: 1.5em;
  }
}
