@import '~prosearch-stylesheets/Colors';
@import '~prosearch-stylesheets/Flex';

.projects-app {
  .app-content {
    .project-spinner {
      color: $white;
      width: 50%;
      margin-top: 6em;
    }
  }
}
