@import '~prosearch-stylesheets/Colors';
@import '~prosearch-stylesheets/Flex';

.projects-app {
  .app-content {
    @include flex(column, nowrap);

    .project-spinner {
      align-self: center;
      color: $white;
      width: 50%;
      margin-top: 6em;
    }
  }
}
