@import '~prosearch-stylesheets/Flex';

.search-results-container {
  .search-results {
    @include flex(column, nowrap);

    justify-content: center;
    align-items: center;

    .project-container {
      margin-bottom: 52px;
    }
  }
}
