@import '~prosearch-stylesheets/Flex';
@import '~prosearch-stylesheets/Colors';

@mixin right-nav {
  margin-right: auto;
}

.main-navbar {
  .main-navbar-nav-items {
    @include flex(row);

    justify-content: space-around;
    align-items: center;

    .main-navbar-nav-item:not(:last-child) {
      margin-right: 1.5em;

      &.home-link {
        @include right-nav();
      }
    }
  }
}

.home-link img {
  height: 4em;
}

.about-link {
  font-size: 1.2em;
}

.github-link img {
  height: 2em;
}
