@import '~prosearch-stylesheets/Colors';

.background-overlay {
  background: $purple1;
  background: linear-gradient(
    130deg,
    $purple1 0%,
    $purple2 15%,
    $purple1 15.2%,
    $purple1 85%,
    $purple2 85.2%
  );
  // FIXME: Set this dynamically based on the viewport size.
  height: 36em;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
}
