@import '~prosearch-stylesheets/Colors';
.about-app {
  .app-breadcrumbs {
    margin-bottom: 1em;
  }

  .about-header {
    margin-bottom: 2em;
  }

  .about-contents {
    border-radius: 20px;
    box-shadow: 0 0.3em 1em $blue2;
    color: $black;
    padding: 2em;

    .inline-link {
      color: $black;
    }

    div:not(:last-child) {
      margin-bottom: 2em;
    }
  }
}

.background-overlay.about-app {
  height: 23em;
}
