@import '~prosearch-stylesheets/Colors';

body {
  background: $blue1;
  background: linear-gradient(190deg, $blue1 74%, $blue2 74.1%);
  color: $white;
  margin: 1em;
  font-family: 'Noto Sans TC', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: inherit;
  color: inherit;
}
